:root {
  --color-background: #fff;
  --color-user: #b13514;
  --color-ai: #2f297f;

  --font-size: 25px;
  --font-size-ui: 16px;
  --line-height: 1.5;
  --font-size-heading: 2.5em;

  --font-text: 400 var(--font-size) / var(--line-height) 'Redaction', serif;
  --font-heading: 700 var(--font-size) / var(--line-height) 'Inter', sans-serif;
  --font-ui: 400 var(--font-size-ui) / var(--line-height) 'Inter', sans-serif;
  --font-ui-serif: 400 var(--font-size-ui) / var(--line-height) 'Redaction', serif;

  --border-radius: 12px;
  --spacing: 20px;
}