:root {
  --color-background: #fff;
  --color-user: #226a6d;
  --color-ai: #c68a20;

  --font-size: 25px;
  --font-size-ui: 20px;
  --line-height: 1.5;

  --font-text: 400 var(--font-size) / var(--line-height) 'Redaction', serif;
  --font-heading: 700 var(--font-size) / var(--line-height) 'Inter', sans-serif;
  --font-ui: 400 var(--font-size-ui) / var(--line-height) 'Inter', sans-serif;

  --border-radius: 5px;
  --spacing: 20px;
}