@font-face {
  font-family: 'redaction-0';
  src: url('@/assets/redaction/Redaction-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'redaction-10';
  src: url('@/assets/redaction/Redaction_10-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'redaction-20';
  src: url('@/assets/redaction/Redaction_20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'redaction-35';
  src: url('@/assets/redaction/Redaction_35-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'redaction-50';
  src: url('@/assets/redaction/Redaction_50-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'redaction-70';
  src: url('@/assets/redaction/Redaction_70-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'redaction-100';
  src: url('@/assets/redaction/Redaction_100-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
