/*************
  REDACTION
**************/

@font-face {
  font-family: 'Redaction';
  src: url('@/assets/fonts/redaction/Redaction-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 10';
  src: url('@/assets/fonts/redaction/Redaction_10-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 20';
  src: url('@/assets/fonts/redaction/Redaction_20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('@/assets/fonts/redaction/Redaction_35-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('@/assets/fonts/redaction/Redaction_50-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 70';
  src: url('@/assets/fonts/redaction/Redaction_70-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 100';
  src: url('@/assets/fonts/redaction/Redaction_100-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*************
  SF MONO
**************/

@font-face {
  font-family: 'SF Mono';
  src: url('@/assets/fonts/sf-mono/sf-mono-regular.woff2') format('woff2'),
       url('@/assets/fonts/sf-mono/sf-mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*************
  SPACE MONO
**************/

@font-face {
  font-family: 'Space Mono';
  src: url('@/assets/fonts/space-mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}