*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --color-base: #333333;
  --color-high: #0000ff;

  --color-text: #333;
  --color-background: #f1f1f1;

  --color-editor-user: #00f;
  --color-editor-ai: #333;
  --color-selection: #bcf;

  --color-ui-primary: #00f;
  --color-ui-secondary: #fff;

}

html {
  font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas,
  monospace;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5px;

  color: var(--color-text);
  background-color: var(--color-background);
  text-rendering: geometricPrecision;
}

button,
input {
  padding: 8px;
  border-radius: 20px;
  box-sizing: border-box;

  font-size: 14px;
  font-family: inherit;

  background-color: var(--color-ui-secondary);
  color: var(--color-ui-primary);
  
  border: 1.5px solid var(--color-ui-primary);
  box-shadow: 0px 2px 0px var(--color-ui-primary);

  &:hover {
    background-color: var(--color-ui-primary);
    color: var(--color-ui-secondary);
  }
  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}

button {
  cursor: pointer;
}

input {
  cursor: text;
  &:focus {
    outline: none;
  }
}
