@import './fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  /* --color-text: #000000;
  --color-accent: #007B69;
  --color-selection: rgba(0, 127, 255, 0.5);
  --color-cursor: rgb(0, 127, 255); */

  /* --color-base: #572E6B;
  --color-high: #FF937F;
  --color-selection: #FF937F30; */

  --color-base: #333333;
  --color-high: #0000FF;
  --color-selection: #00FF0040;

  --color-text: var(--color-high);
  --color-accent: var(--color-base);
  --color-cursor: var(--color-high);;
  --background-color: #F1F1F1;

  --font-mono: 'SF Mono';
}

html {
  font-family: var(--font-mono);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5px;

  color: var(--color-text);
  background-color: var(--background-color);
}

button {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
  box-sizing: border-box;

  font-size: 14px;
  font-family: var(--font-mono);

  /* Colouring */
  background-color: white;
  color: var(--color-high);
  border: 1.5px solid var(--color-high);
  /* background-color: var(--color-high);
  color: white;
  border: 1.5px solid var(--color-high); */

  box-shadow: 0px 2px 0px var(--color-high)
}

button:hover {
  background-color: var(--color-high);
  color: white;
  /* background-color: white;
  color: var(--color-high); */
}