@import './fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --color-accent: #007B69;
}

html {
  font-family: 'SF Mono';
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}